
# Node.js dependencies
node_modules/
**/node_modules/*

# Environment variables
.env
.env-override
**/*.env

# Logs
*.log
**/*.log
**/**/*.log.gz
npm-debug.log*
yarn-debug.log*
winston-logs/
**/winston-logs/*

# Database & Output files
**/*.db
**/output/*
**/temp/*
last-deploy.txt

# Build & API Docs
build/
**/build/*
**/api-docs/*
**/openapi3/*

# Utils & Backup files
**/utils/*.json
*.bak

# Large Files (Images, Videos, Audio, Archives)
*.png
*.jpg
*.mp4
*.mp3
*.tiff
*.avi
*.flv
*.mov
*.wmv
*.mkv
*.webm
*.zip

# Data Files (Spreadsheets, CSV)
**/*.xlsx
**/*.xls
**/*.csv

# VS Code & IDE settings
.vscode/
**/.vscode/*

# Certs
mongo-client-cert.pem
