.login-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(135deg, #004d00, #008000);
    color: white;
    padding: 20px;
}

.login-container .login-card {
    width: 400px;
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.login-container .login-input {
    width: 100%;
    margin: 10px 0;
}

.login-container .p-inputtext {
    width: 100%;
}

.login-container .login-btn {
    margin-top: 10px;
    width: 100%;
}

.login-container .login-link {
    color: #008000;
    cursor: pointer;
    font-weight: bold;
}
